<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout/main :: main (~{::body},'catalog')}" lang="ru">
<body>
<div class="container">
    <h1>Добавление нового товара</h1>
    <form th:action="@{/catalog/add-new-product}" th:object="${product}" method="post">
        <input type="text" name="product_vendor" th:field="*{productVendor}" placeholder="Производитель">
        <input type="text" name="product_name" th:field="*{productName}" placeholder="Название">
        <textarea name="product_description" th:field="*{productDescription}" placeholder="Описание"></textarea>
        <input type="number" name="product_price"  th:field="*{productPrice}" placeholder="Цена" step=".01">
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>