<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout/main :: main (~{::body},'catalog')}" lang="ru">
<body>
    <div class="container">
        <h1>Каталог запчастей</h1>
        <div class="products-list">
            <div th:if="${#lists.isEmpty(productList)}">Товаров не найдено.</div>
            <div class="product-card" th:each="product : ${productList}">
                <a th:href="@{'/catalog/product-' + ${product.productId}}">
                    <h2 th:text="${product.productName}"></h2>
                    <div class="product-img" th:if="${product.productImageLink != null}" >
                        <img th:src="${product.productImageLink}">
                    </div>
                    <div class="product-vendor" th:text="'Бренд: ' + ${product.productVendor}"></div>
                    <div class="product-price" th:text="${product.productPrice} + 'BYN'"></div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>