<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout/main :: main (~{::body},'catalog')}" lang="ru">
<body>
    <div class="container">
        <h1>Каталог запчастей</h1>
        <div class="products-list">
            <div th:each="product : ${productList}">
                <div th:text="${product.vendor}"></div>
                <div th:text="${product.name}"></div>
                <div th:text="${product.description}"></div>
                <div th:text="${product.price}"></div>
            </div>
        </div>
    </div>
</body>
</html>