<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout/main :: main (~{::body},'product')}" lang="ru">
<body>
<div class="container">
  <h1>Редактирование товара</h1>

  <div class="info-message" th:if="${message}" th:text="${message}"/>

  <div th:each="el : ${product}" th:if="${el.productImageLink != null}"  class="edit-product-img">
    <img th:src="${el.productImageLink}">
    <form th:action="@{'/admin/catalog/product-' + ${el.productId} + '/delete-image'}" method="post">
      <input type="submit" value="Удалить текущее фото">
    </form>
  </div>

  <form class="product-add-form" th:each="el : ${product}" method="post" enctype="multipart/form-data">
    <input type="text" name="productVendor" th:value="${el.productVendor}" placeholder="Производитель">
    <input type="text" name="productName" th:value="${el.productName}" placeholder="Название">
    <textarea name="productDescription" th:text="${el.productDescription}" placeholder="Описание"></textarea>
    <input type="number" name="productPrice"  th:value="${el.productPrice}" placeholder="Цена" step=".01">
    <label>Фото товара: <input type="file" name="product_image"></label>

    <button type="submit">Обновить товар</button>
  </form>

</div>
</body>
</html>