<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout/main :: main (~{::body},'product')}" lang="ru">
<body>
<div class="container">
    <h1 th:text="${product.productName}"/>
    <div class="product">
        <div class="single-product-card">
            <div th:text="'Бренд: ' + ${product.productVendor}"></div>
            <div th:text="'Описание: ' + ${product.productDescription}"></div>
            <div th:text="'Цена: ' + ${product.productPrice}"></div>
            <form th:action="@{'/catalog/delete-' + ${product.productId}}" method="post">
                <input type="submit" value="Удалить товар">
            </form>
        </div>
    </div>
</div>
</body>
</html>