<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/main :: main (~{::body},'product')}" lang="ru">
<body>
<div class="container">
    <div class="info-message" th:if="${message}" th:text="${message}"/>

    <h1 th:text="${product.productName}"/>

    <div class="single-product-card">
        <div class="single-product-img"><img th:src="${product.productImageLink}"></div>
        <div class="single-product-meta">
            <div th:text="'Бренд: ' + ${product.productVendor}"></div>
            <div class="product-price" th:text="${product.productPrice} + 'BYN'"></div>
        </div>
    </div>

    <div class="product-description" th:text="${product.productDescription}"></div>

    <div sec:authorize="hasAuthority('ADMIN')" class="product-controls">
        <a th:href="@{'/admin/catalog/product-' + ${product.productId} + '/edit'}">
            <button>Редактировать товар</button>
        </a>
        <form th:action="@{'/admin/catalog/product-' + ${product.productId} + '/delete'}" method="post">
            <input type="submit" value="Удалить товар">
        </form>
    </div>

</div>
</body>
</html>