<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout/main :: main (~{::body},'product')}" lang="ru">
<body>
<div class="container">
  <h1>Редактирование товара</h1>
  <form th:each="el : ${product}" method="post">
    <input type="text" name="productVendor" th:value="${el.productVendor}" placeholder="Производитель">
    <input type="text" name="productName" th:value="${el.productName}" placeholder="Название">
    <textarea name="productDescription" th:text="${el.productDescription}" placeholder="Описание"></textarea>
    <input type="number" name="productPrice"  th:value="${el.productPrice}" placeholder="Цена" step=".01">
    <button type="submit">Обновить</button>
  </form>
</div>
</body>
</html>